.container-fluid {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
}


/** Header Stylin **/
.header-container {
    position: relative;
    text-align: center;
}

#header-image {
    width: 100%;
}

.header-title {
    position: absolute;
    top: 58%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.header-title p {
    margin: 0;
    padding: 0;

    color: #ffffff;
    font-size: 4vw;
    font-style: normal;
    font-weight: 900;

    width: 50%;
}

#btn-tickets {
    font-size: 1.5vw;
    margin: 20px;
}

/** Information Container Styling **/
.information-container {
    background-color: #92278F;
    text-align: center;
    border-top: 1px solid #ffffff;
}

#header-lineup, #header-program {
    color: #ffffff;
    vertical-align: middle;
    margin: 25px 10vw 0 10vw;

    font-weight: 600;
    font-style: italic;
}

#header-lineup {
    border-bottom: 1px solid #ffffff;
}

/** Ticket Container Styling **/

.tickets-container {
    background-color: #ffffff;
    border-top: 1px solid #ffffff;
    margin: 0;
}

#header-tickets {
    color: #000000;
    margin-top: 20px;

    text-align: center;

    font-weight: 600;
    font-style: italic;

    margin-bottom: 20px;

    border-bottom: 1px solid #000000;
}

.artist-row {
    height: 90%;
}

.artist-column {
    padding-top: 20px;
    padding-bottom: 20px;
}

.artist-img {
    width:200px;
    height:200px;

    overflow:hidden;
}

.artist-name {
    margin-top: 10px;

    height: 20px;

    color: #ffffff;
    font-weight: 600;
    font-style: italic;
    font-size: 28px;
}


/** Program Styling **/
.program-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.program-title {
    color: #ffffff;
    text-align: left;
    border-bottom: 1px solid #ffffff;
    margin: 0;
    padding-bottom: 5px;
}


.program-row {
    border-bottom: 1px solid #ffffff;
    min-height: 4.5vh;
}

.program-location {
    line-height: normal;
    overflow-wrap: break-word;
}

.program-artist, .program-location, .program-time{
    color: #ffffff;
    font-size: 16px;
}

.program-artist, .program-location{
    text-align: left;
}

.program-time {
    text-align: right;
}

/** Tickets Bootstrap **/
.ticket-search-container {
    margin-bottom: 20px;
}

.tickets-day-toggle .nav-link.active {
    background-color: #92278F !important;
    color: #ffffff;

    border: 2px solid #92278F;
}

.tickets-day-toggle .nav-link {
    background-color: #ffffff !important;
    color: #000000;
    border: 2px solid #000000;
    margin: 0 10px 0 10px;

    font-size: 18px;
    font-weight: 700;
}

.btn-buy-ticket {
    background-color: #92278F;
    color: #ffffff;

    padding: 8px;
    font-weight: 600;
}

.ticket-container {
    margin-top: 25px;
    margin-bottom: 25px;
}

.ticket-no-result {
    text-align: center;
}

.ticket-row {
    border: 1px solid #000000;
    padding: 8px 0 8px 0;
}

.ticket-title, .ticket-type, .ticket-price {
    font-size: 25px;
}

.ticket-title {
    font-style: italic;
    text-align: left;
}

.ticket-type, .ticket-price {
    font-weight: 600;;
    text-align: left;
}

.ticket-extras {
    font-size: 22px;
}

.ticket-extras li {
    list-style: none;
    position: relative;
    padding: 0 0 0 40px;
}


.ticket-extras li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 25px;
    height: 25px;
    background-color: #92278F;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}



/** Bootstrap override**/
#btn-tickets {
    background-color: #92278F;
    border-color: #92278F;

    color: #ffffff;

    border-radius: 28px;
    font-weight: 900;
    padding: 8px 50px 8px 50px;
}


