/** Navigation background **/
.completed-container {
  max-width: 1000px;
  margin-top: 150px;
  padding-bottom: 200px;
  text-align: center;
}

.completed-container span {
  margin: auto;
}

.completed-container h1 {
  font-size: 55px;
  font-weight: 700;
}

.checkmark-container {
  margin-top: 30px;
  margin-bottom: 40px;
}

.checkmark-container img {
  max-width: 262px;
  max-height: 200px;
}
