<IfModule mod_rewrite.c>
  Options -Multiviews
  RewriteEngine On
  RewriteBase /haarlem_festival/public
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} !^/images/(.+)$
  RewriteRule  ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>